{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>She Codes News</title>
        <meta name="description" content="">
        <meta name="author" content="Camille le Goff">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Readex+Pro:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <header>
            <div id="header-text">
                <a id="header-link" href="{% url 'news:index' %}">
                    <h1>She {Codes} News</h1>
                </a>
            </div>

            <!-- include side_nav here -->
            {% include './nav.html' %}

        </header>

        

        <!-- content blocks here -->
        {% block content %}{% endblock %}
    </body>
</html>
