@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Readex+Pro:wght@300&display=swap');

body {
    background-color: rgb(240, 239, 239);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
   font-family: 'Montserrat', sans-serif; 

}

h3 {
       font-family: 'Montserrat', sans-serif; 

    font-size: 2rem;
    margin: 0;
}

h4 {
    font-family: 'Robotto', sans-serif; 
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

nav a, h1 a, h3 a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: 'Montserrat', sans-serif; 
}
