@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Readex+Pro:wght@300&display=swap');

body {
    background-color: rgb(240, 239, 239);
    margin-top: 150px;
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C0E6DE;
    overflow: hidden;
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
    padding:20px;
}

h1 a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


h2 {
   font-family: 'Montserrat', sans-serif; 

}

h3 {
       font-family: 'Montserrat', sans-serif; 

    font-size: 2rem;
    margin: 0;
}

h4 {
    font-family: 'Robotto', sans-serif; 
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding:20px;
}

nav a {
    font-family: 'Montserrat', sans-serif; 
    float: right;
    display: block;
    text-align: right;
    font-weight: bold;
    color: black;
    text-decoration: none;
    border: solid;
    border-color: #006466;
    background-color:lightgrey;
    padding: 4px;
    margin: 1px;
    border-radius:7%;
    font-size: 14px;
}
  
nav a:hover {
    font-family: 'Montserrat', sans-serif; 
    border: solid;
    border-color:white;
    border-radius:5%;
    background: #FDCFA5;
    color: black; 
    font-weight: bold;
  }

p {
    font-family: 'Montserrat', sans-serif; 
   
}

a {
    color: #006466;
    font-weight: bold;
}
  
a:hover {
    background: #FDCFA5;
    color: black;
    font-weight: bold;
  }

  .all-tags {
    text-align: center;
}

.all-tags a {
    color: white;
    text-decoration: none;
    border: solid;
    border-color:#006466;
    background-color: #006466;
    font-family: 'Montserrat', sans-serif; 
    font-size: 22px;
    padding: 4px;
    margin: 1px;
    border-radius:5%;
}
      
.all-tags a:hover { 
    font-family: 'Montserrat', sans-serif; 
    border: solid;
    border-color:white;
    border-radius:5%;
    background: #FDCFA5;
    color: black;
    font-weight: bold;
}