    {% extends "base.html"%}
    {% load static %}

    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
    {% endblock %}

    {% block content %}
    
    
        <div class="all-tags">

        <h2>Browse articles by topic:</h2> 

            {% for tag in all_tags %}
            <a href="{% url 'news:tag' tag.slug %}">{{ tag.title }}</a>
            {% endfor %} 

            </div>

{% comment %}         
            <h2>Latest stories</h2>


        <div id="latest-stories">

            {% if latest_stories %}
                {% for story in latest_stories %}
                    {% include "./storyCard.html" with story=story position=forloop.counter  %}  
                {% endfor %}
            {% else %}
                <p>No stories are available.</p>
            {% endif %}

        </div> {% endcomment %}

        <h2>All stories</h2>

    <div id="all-stories"> 
        
     

            {% if all_stories %}
                {% for story in all_stories %}
                    {% include "./storyCard.html" with story=story %}
                {% endfor %}
            {% else %}
                <p>No stories are available.</p>
            {% endif %}
        </div>



    {% endblock %}