    {% extends "base.html"%}
    {% load static %}

    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
    {% endblock %}

    {% block content %}
    
    

        <h2 style="text-align:center;">Browse articles by topic:</h2> 

        <div class="all-tags">

            {% for tag in all_tags %}
            <a href="{% url 'news:tag' tag.slug %}">{{ tag.title }}</a>
            {% endfor %} 

            </div>
            <br>


        <h2 style="text-align:center;">Or read all articles:</h2>

    <div id="all-stories"> 
        
     

            {% if all_stories %}
                {% for story in all_stories %}
                    {% include "./storyCard.html" with story=story %}
                {% endfor %}
            {% else %}
                <p>No stories are available.</p>
            {% endif %}
        </div>



    {% endblock %}