{% extends "base.html"%}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4>Written by: <a href="{% url 'users:profile' story.author.id %}">{{ story.author }}</a></h4>
    <h4>Published on: {{ story.pub_date|date:'Y-m-d' }}, in <a href="{% url 'news:tag' story.tag %}">{{ story.tag.title }}</a></h4>


    <div id="story-content">
            <img src="{{ story.image }}">{{ story.content|linebreaks }}
            
            {% if request.user.is_authenticated %}
            <h4><b><a href="{% url 'news:editStory' story.id %}">[Edit this story]</a></b>
            {% endif %}

            {% if request.user.is_authenticated %}
            <b><a href="{% url 'news:deleteStory' story.id %}">[Delete]</a></b></h4> 
            {% endif %}
    </div>

</div>

{% endblock %}