{% extends "base.html"%}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4>Written by: {{ story.author }}</h4>
    <h4>Published on: {{ story.pub_date|date:'Y-m-d' }}, in <a href="{% url 'news:tag' story.tag %}">{{ story.tag }}</a></h4>


    <div id="story-content">
        <img src="{{ story.image }}">
        {{ story.content|linebreaks }}
    </div>
</div>

 <!-- Add an edit button for logged in users -->
 {% if request.user.is_authenticated %}
 <a href="{% url 'news:editStory' story.id %}">[Edit this story]</a>  
 {% endif %}

 <!-- Add an delete button for logged in users -->
 {% if request.user.is_authenticated %}
 <a href="{% url 'news:deleteStory' story.id %}">[Delete]</a>  
 {% endif %}
     </div>

{% endblock %}