    <div class="story-card" id="story-card-{{ position }}">
        <a href="{% url 'news:story' story.id %}">
            {% if position < 5 %}
                <img src="../static/news/images/placeholder-{{ position }}.jpg">
            {% else %}
                <img src="{{ story.image }}">
            {% endif %}
        </a>
            <div class="story-card-text">
                <h3>{{ story.title }}</h3>
        <a href="{% url 'users:profile' story.author.id %}">
                    <h4>Written by: {{ story.author }}</h4>
                <h4>{{ story.pub_date }}</h4>
        </a>
    
        <!-- Add an edit button for logged in users -->
        {% if request.user.is_authenticated %}
        <a href="{% url 'news:editStory' story.id %}">Edit this story</a>  
        {% endif %}

        <!-- Add an delete button for logged in users -->
        {% if request.user.is_authenticated %}
        <a href="{% url 'news:deleteStory' story.id %}">Delete</a>  
        {% endif %}
            </div>


</div>
